/* Estilos gerais */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

#menu-superior {
    background-color: #303030;
    color: #FFFFFF;
    padding: 50px;
    text-align: center;
}

#menu-informacional {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    background-color: #F9F9F9;
    padding: 20px;
    text-align: center;
}

.destaque {
    font-size: 40px;
    font-weight: bold;
}

.texto-abaixo {
    font-size: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

#texto-imagem {
    flex: 1;
    padding: 20px;
}

#imagem {
    flex: 1;
}

#imagem img {
    max-width: 100%;
    height: auto;
}

.destaque2 {
    font-size: 30px;
    font-weight: bold;
}

.texto-abaixo2 {
    font-size: 18px;
    letter-spacing: 1px;
}

#texto-formulario {
    padding: 20px;
    background-color: #303030;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}

input {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 470px;
    height: 50px;
    margin: 20px auto;
    border: 0;
    border-radius: 7px;
    padding-left: 30px;
}

button {
    background-color: #C07212;
    width: 100%;
    max-width: 286px;
    height: 70px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 20px auto;
}

button:hover {
    background-color: #94642a;
    color: white;
    transform: translateY(-9px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s;
}
